.header {
  background-color: var(--color-bg);
  padding: 16px 24px;
  font-size: 18px;
  border-radius: 50px;
  max-width: 1024px;
  margin: 0 auto;
  border: 1px solid var(--color-border);
  position: sticky;
  top: 24px;
  z-index: 50;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    color: var(--color-textLight);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-text);
    }
  }

  &__lang {
    font-size: 18px;
    color: var(--color-textLight);
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-text);
    }
  }
}

.headerScrolled {
  background-color: #2c2c2cfc;
  p {
    color: var(--color-text);
  }
}
