.main {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: clamp(12px, 3vw, 24px);
    padding: 0 clamp(16px, 4vw, 24px);
  }

  &__role {
    color: #fff;
    font-size: clamp(14px, 2.5vw, 24px);
    background-color: #ffffff0a;
    border: 1px solid #ffffff38;
    display: inline-block;
    padding: clamp(6px, 1.5vw, 8px) clamp(16px, 4vw, 24px);
    border-radius: 50px;
  }

  &__greeting {
    font-size: clamp(28px, 6vw, 48px);
    color: #fff;
    text-align: center;
    font-weight: 600;
    white-space: pre-line;
    line-height: 1.2;
  }

  &__button {
    font-size: clamp(16px, 3vw, 24px);
    background-color: #ffffff0a;
    border: 1px solid #ffffff38;
    padding: clamp(6px, 1.5vw, 8px) clamp(16px, 4vw, 24px);
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
