.main {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
  }

  &__role {
    color: #fff;
    font-size: 24px;
    background-color: #ffffff0a;
    border: 1px solid #ffffff38;
    display: inline-block;
    padding: 8px 24px;
    border-radius: 50px;
  }

  &__greeting {
    font-size: 48px;
    color: #fff;
    text-align: center;
    font-weight: 600;
  }

  &__button {
    font-size: 24px;
    background-color: #ffffff0a;
    border: 1px solid #ffffff38;
    padding: 8px 24px;
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
    }
  }
}
