@import "tailwindcss";

:root {
  --font-sans: var(--font-manrope);

  --color-bg: #ffffff0a;
  --color-border: #ffffff38;
  --color-text: #ffffff;
  --color-textLight: #d3d3d3;
}

body {
  font-family: var(--font-manrope), sans-serif;
  color: var(--color-text);
}
